
{% extends 'theSP/layout.html' %}

{% block title %} Change Password {% endblock title%}

{% block body %}

    <div class="container-fluid" style="height:100vh;">  
        {% if error_message %}
            <div class="error_message"><h2 class="text-danger text-center">{{ error_message }}</h2></div>
        {% endif %}
        <div class="container-center-column" style="height: 100%;">
            <div class="form-box-small">
                <form action="{% url 'user:change_password' %}" method="post">
                    {% csrf_token %}
                    <p>
                        <label for="id_current_password">Current Password: </label>
                        <input class="form-control" type="password" name="current_password" id="id_current_password" required>
                    </p>
                    {{form.as_p}}
                    <input class="btn btn-primary" type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock body %}