
{% extends 'theSP/layout.html' %}

{% block title %} Reset Password {% endblock title%}

{% block body %}

    {% if error_message %}
        <div class="error_message"><h2 class="text-danger text-center">{{ error_message }}</h2></div>   
    {% endif %}
    <div class="container-center-column">
        <div class="form-box-large"> 
            <h2> Enter Email </h2>
            <form action="{% url 'user:reset_password_email' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" name = "email" type="email">
                </div>
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>  
{% endblock body %}