{% extends 'theSP/layout.html' %}

{% block title %} Reset Password {% endblock title%}

{% block body %}

    {% if error_message %}
        <div class="error_message"><h2 class="text-danger text-center">{{ error_message }}</h2></div>
    {% endif %}   
    <div class="container-fluid" style="margin-top: 5em;">  
        <div class="container-center-column">
            <div class="form-box-small">
                <form action="{% url 'user:reset_password_page' user_id=user_id %}" method="post">
                    {% csrf_token %} 
                    <p>
                        <label for="id_token">Provide Token: </label>
                        <input class="form-control" type="password" name="token" id="id_token" required>
                    </p>
                    {{form.as_p}}
                    <input class="btn btn-primary" type="submit"> 
                </form>
            </div>
        </div>
    </div>  
{% endblock body %}